LOW_VRAM_MODE=true
USE_FP16=true
FLASK_PORT=8080
FLASK_HOST=0.0.0.0
SHAPE_REPO_ID=tencent/Hunyuan3D-2mini
SHAPE_MODEL_SUBFOLDER=hunyuan3d-dit-v2-mini
TEXTURE_REPO_ID=tencent/Hunyuan3D-2
TEXTURE_MODEL_SUBFOLDER=hunyuan3d-paint-v2-0-turbo
HUNYUAN_DIR=D:\Hunyuan3D-2
SIMPLIFY_MAX_VERTS=20000
TEX_REF_MAX_DIM=512
TEX_TIMEOUT_S=900